.user-profile {
  margin-top: 100px;
  background: white;
  padding: 34px;
  border-radius: 32px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.user-img {
  width: 140px;
  height: 140px;
  border-radius: 100%;
  margin-bottom: 20px;
}
.user-img img {
  border-radius: 100%;
  height: 100%;
}
.user-profile .name {
  font-size: 20px;
  margin-bottom: 10px;
}
.user-profile .email {
  margin-bottom: 10px;
}
.plan {
  margin-bottom: 20px;
  font-size: 20px;
}
.user-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.active-user-btn {
  width: 100%;
  padding: 12px;
  background-color: #feb23f;
  color: white;
  font-weight: 700;
  font-size: 16px;
  border: none;
  border-radius: 10px;
}
.plan-uses {
  font-size: 18px;
  margin-bottom: 40px;
  position: relative;
}
.plan-uses:after {
  position: absolute;
  content: "";
  height: 4px;
  width: 60%;
  bottom: -10px;
  background-color: #feb23f;
  display: block;
  border-radius: 5px;
}
.plan-uses:before {
  position: absolute;
  content: "";
  height: 4px;
  width: 100%;
  bottom: -10px;
  background-color: #fff5e5;
  display: block;
  border-radius: 5px;
}
.click-wrap {
  display: flex;
  justify-content: space-between;
}

.count {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 12px;
}
.title {
  color: gray;
}
.click-left {
  width: 50%;
  border-right: 2px solid gray;
}
.click-right {
  width: 50%;
  text-align: right;
}
.dot {
  display: inline-block;
  height: 6px;
  width: 6px;
  border-radius: 100%;
  background-color: green;
  margin: 6px;
}
